<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Artista</title>
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
</head>
<body>
    <div class="form-container">
        <h1 class="form-title">Agregar un artista</h1>
        <form method="post" class="artist-form">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Registrar artista" class="submit-btn">
        </form>
    </div>
</body>
</html>
